In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/march-machine-learning-mania-2024/Conferences.csv
/kaggle/input/march-machine-learning-mania-2024/sample_submission.csv
/kaggle/input/march-machine-learning-mania-2024/WNCAATourneyDetailedResults.csv
/kaggle/input/march-machine-learning-mania-2024/WRegularSeasonCompactResults.csv
/kaggle/input/march-machine-learning-mania-2024/MNCAATourneySeedRoundSlots.csv
/kaggle/input/march-machine-learning-mania-2024/MRegularSeasonDetailedResults.csv
/kaggle/input/march-machine-learning-mania-2024/MNCAATourneyCompactResults.csv
/kaggle/input/march-machine-learning-mania-2024/MGameCities.csv
/kaggle/input/march-machine-learning-mania-2024/WGameCities.csv
/kaggle/input/march-machine-learning-mania-2024/MSeasons.csv
/kaggle/input/march-machine-learning-mania-2024/WNCAATourneySlots.csv
/kaggle/input/march-machine-learning-mania-2024/MSecondaryTourneyTeams.csv
/kaggle/input/march-machine-learning-mania-2024/2024_tourney_seeds.csv
/kaggle/input/march-machine-learning-mania-2024/Cities.csv
/kaggle/input/march-machine-learning-mania-2024/MTeamSpellings.csv
/kaggle/input/march-machine-learning-mania-2024/MRegularSeasonCompactResults.csv
/kaggle/input/march-machine-learning-mania-2024/MMasseyOrdinals.csv
/kaggle/input/march-machine-learning-mania-2024/MSecondaryTourneyCompactResults.csv
/kaggle/input/march-machine-learning-mania-2024/WTeams.csv
/kaggle/input/march-machine-learning-mania-2024/MNCAATourneySlots.csv
/kaggle/input/march-machine-learning-mania-2024/MNCAATourneySeeds.csv
/kaggle/input/march-machine-learning-mania-2024/WNCAATourneyCompactResults.csv
/kaggle/input/march-machine-learning-mania-2024/WSeasons.csv
/kaggle/input/march-machine-learning-mania-2024/WNCAATourneySeeds.csv
/kaggle/input/march-machine-learning-mania-2024/MTeamCoaches.csv
/kaggle/input/march-machine-learning-mania-2024/MConferenceTourneyGames.csv
/kaggle/input/march-machine-learning-mania-2024/WRegularSeasonDetailedResults.csv
/kaggle/input/march-machine-learning-mania-2024/MNCAATourneyDetailedResults.csv
/kaggle/input/march-machine-learning-mania-2024/WTeamSpellings.csv
/kaggle/input/march-machine-learning-mania-2024/MTeamConferences.csv
/kaggle/input/march-machine-learning-mania-2024/MTeams.csv
/kaggle/input/march-machine-learning-mania-2024/WTeamConferences.csv
/kaggle/input/march-machine-learning-mania-2024/fivethirtyeight_ncaa_forecasts_2023.csv

In [3]:
import os
import pandas as pd

directory_path = '/kaggle/input/march-machine-learning-mania-2024'
merged_df = pd.DataFrame()

for filename in os.listdir(directory_path):
    if filename.endswith(".csv"):
        file_path = os.path.join(directory_path, filename)
        
        try:
            # Read the CSV file into a DataFrame with specified encoding
            df = pd.read_csv(file_path, encoding='latin-1')
            
            # Merge the current DataFrame with the main DataFrame
            merged_df = pd.concat([merged_df, df], ignore_index=True)
        except UnicodeDecodeError:
            print(f"Error reading file: {file_path}")

print(merged_df.head())

  ConfAbbrev                   Description  RowId Tournament  Bracket Slot  \
0      a_sun       Atlantic Sun Conference    NaN        NaN      NaN  NaN
1      a_ten        Atlantic 10 Conference    NaN        NaN      NaN  NaN
2        aac  American Athletic Conference    NaN        NaN      NaN  NaN
3        acc     Atlantic Coast Conference    NaN        NaN      NaN  NaN
4        aec       America East Conference    NaN        NaN      NaN  NaN

  Team  Season  DayNum  WTeamID  ...  rd6_win  rd7_win  results_to team_alive  \
0  NaN     NaN     NaN      NaN  ...      NaN      NaN         NaN        NaN
1  NaN     NaN     NaN      NaN  ...      NaN      NaN         NaN        NaN
2  NaN     NaN     NaN      NaN  ...      NaN      NaN         NaN        NaN
3  NaN     NaN     NaN      NaN  ...      NaN      NaN         NaN        NaN
4  NaN     NaN     NaN      NaN  ...      NaN      NaN         NaN        NaN

   team_id  team_name  team_rating  team_region  team_seed  team_slot
0      NaN        NaN          NaN          NaN        NaN        NaN
1      NaN        NaN          NaN          NaN        NaN        NaN
2      NaN        NaN          NaN          NaN        NaN        NaN
3      NaN        NaN          NaN          NaN        NaN        NaN
4      NaN        NaN          NaN          NaN        NaN        NaN

[5 rows x 87 columns]

In [4]:
df= merged_df
df.head()

,ConfAbbrev,Description,RowId,Tournament,Bracket,Slot,Team,Season,DayNum,WTeamID,...,rd6_win,rd7_win,results_to,team_alive,team_id,team_name,team_rating,team_region,team_seed,team_slot
0,a_sun,Atlantic Sun Conference,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a_ten,Atlantic 10 Conference,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,aac,American Athletic Conference,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,acc,Atlantic Coast Conference,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aec,America East Conference,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(5889615, 87)

In [6]:
print(df.columns)

Index(['ConfAbbrev', 'Description', 'RowId', 'Tournament', 'Bracket', 'Slot',
       'Team', 'Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore',
       'WLoc', 'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA',
       'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA',
       'LFGM3', 'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl',
       'LBlk', 'LPF', 'Seed', 'GameRound', 'GameSlot', 'EarlyDayNum',
       'LateDayNum', 'CRType', 'CityID', 'DayZero', 'RegionW', 'RegionX',
       'RegionY', 'RegionZ', 'StrongSeed', 'WeakSeed', 'SecondaryTourney',
       'TeamID', 'City', 'State', 'TeamNameSpelling', 'RankingDayNum',
       'SystemName', 'OrdinalRank', 'TeamName', 'FirstDayNum', 'LastDayNum',
       'CoachName', 'FirstD1Season', 'LastD1Season', 'gender', 'forecast_date',
       'playin_flag', 'rd1_win', 'rd2_win', 'rd3_win', 'rd4_win', 'rd5_win',
       'rd6_win', 'rd7_win', 'results_to', 'team_alive', 'team_id',
       'team_name', 'team_rating', 'team_region', 'team_seed', 'team_slot'],
      dtype='object')

In [11]:
import os
import pandas as pd
from tqdm import tqdm

directory_path = '/kaggle/input/march-machine-learning-mania-2024'
# common_columns = ['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc', 'NumOT']
men_regular_season_file = 'MRegularSeasonCompactResults.csv'
women_regular_season_file = 'WRegularSeasonCompactResults.csv'
men_tourney_file = 'MNCAATourneyCompactResults.csv'
women_tourney_file = 'WNCAATourneyCompactResults.csv'

# Read the CSV files into DataFrames
men_regular_season_df = pd.read_csv(os.path.join(directory_path, men_regular_season_file))
women_regular_season_df = pd.read_csv(os.path.join(directory_path, women_regular_season_file))
men_tourney_df = pd.read_csv(os.path.join(directory_path, men_tourney_file))
women_tourney_df = pd.read_csv(os.path.join(directory_path, women_tourney_file))

# Merge the regular season and tournament DataFrames for men and women separately
merged_men_regular_season_tourney = pd.concat([men_regular_season_df, men_tourney_df], ignore_index=True)
merged_women_regular_season_tourney = pd.concat([women_regular_season_df, women_tourney_df], ignore_index=True)

print("Merged Men's Regular Season and Tournament DataFrame:")
merged_men_regular_season_tourney.head()

print("\nMerged Women's Regular Season and Tournament DataFrame:")
merged_women_regular_season_tourney.head()

Merged Men's Regular Season and Tournament DataFrame:

Merged Women's Regular Season and Tournament DataFrame:

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1998      18     3104      91     3202      41    H      0
1    1998      18     3163      87     3221      76    H      0
2    1998      18     3222      66     3261      59    H      0
3    1998      18     3307      69     3365      62    H      0
4    1998      18     3349     115     3411      35    H      0

In [12]:
merged_men_regular_season_tourney.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985      20     1228      81     1328      64    N      0
1    1985      25     1106      77     1354      70    H      0
2    1985      25     1112      63     1223      56    H      0
3    1985      25     1165      70     1432      54    H      0
4    1985      25     1192      86     1447      74    H      0

In [13]:
import os
import pandas as pd
from tqdm import tqdm

directory_path = '/kaggle/input/march-machine-learning-mania-2024'
men_files = [
    'MSecondaryTourneyTeams.csv',
    'MSecondaryTourneyCompactResults.csv',
    'MNCAATourneySlots.csv',
    'MNCAATourneySeeds.csv',
    'MNCAATourneySeedRoundSlots.csv',
    'MNCAATourneyDetailedResults.csv',
    'MNCAATourneyCompactResults.csv'
]

women_files = [
    'WNCAATourneySlots.csv',
    'WNCAATourneySeeds.csv',
    'WNCAATourneyDetailedResults.csv',
    'WNCAATourneyCompactResults.csv',
]

# Initialize empty DataFrames for men's and women's tournament data
men_tourney_df = pd.DataFrame()
women_tourney_df = pd.DataFrame()

# Combine CSV files for men's tournament data
for men_file in tqdm(men_files, desc="Combining Men's Tournament Data"):
    file_path = os.path.join(directory_path, men_file)
    df = pd.read_csv(file_path)
    men_tourney_df = pd.concat([men_tourney_df, df], ignore_index=True)

# Combine CSV files for women's tournament data
for women_file in tqdm(women_files, desc="Combining Women's Tournament Data"):
    file_path = os.path.join(directory_path, women_file)
    df = pd.read_csv(file_path)
    women_tourney_df = pd.concat([women_tourney_df, df], ignore_index=True)

print("Combined Men's Tournament Data:")
men_tourney_df.head()

Combining Men's Tournament Data: 100%|██████████| 7/7 [00:00<00:00, 129.23it/s]
Combining Women's Tournament Data: 100%|██████████| 4/4 [00:00<00:00, 182.27it/s]

Combined Men's Tournament Data:

,Season,SecondaryTourney,TeamID,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,1985.0,NIT,1108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1985.0,NIT,1133.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1985.0,NIT,1139.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1985.0,NIT,1145.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1985.0,NIT,1151.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
men_tourney_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12964 entries, 0 to 12963
Data columns (total 44 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Season            12244 non-null  float64
 1   SecondaryTourney  3536 non-null   object
 2   TeamID            4270 non-null   float64
 3   DayNum            5522 non-null   float64
 4   WTeamID           5522 non-null   float64
 5   WScore            5522 non-null   float64
 6   LTeamID           5522 non-null   float64
 7   LScore            5522 non-null   float64
 8   WLoc              5522 non-null   object
 9   NumOT             5522 non-null   float64
 10  Slot              2452 non-null   object
 11  StrongSeed        2452 non-null   object
 12  WeakSeed          2452 non-null   object
 13  Seed              3210 non-null   object
 14  GameRound         720 non-null    float64
 15  GameSlot          720 non-null    object
 16  EarlyDayNum       720 non-null    float64
 17  LateDayNum        720 non-null    float64
 18  WFGM              1315 non-null   float64
 19  WFGA              1315 non-null   float64
 20  WFGM3             1315 non-null   float64
 21  WFGA3             1315 non-null   float64
 22  WFTM              1315 non-null   float64
 23  WFTA              1315 non-null   float64
 24  WOR               1315 non-null   float64
 25  WDR               1315 non-null   float64
 26  WAst              1315 non-null   float64
 27  WTO               1315 non-null   float64
 28  WStl              1315 non-null   float64
 29  WBlk              1315 non-null   float64
 30  WPF               1315 non-null   float64
 31  LFGM              1315 non-null   float64
 32  LFGA              1315 non-null   float64
 33  LFGM3             1315 non-null   float64
 34  LFGA3             1315 non-null   float64
 35  LFTM              1315 non-null   float64
 36  LFTA              1315 non-null   float64
 37  LOR               1315 non-null   float64
 38  LDR               1315 non-null   float64
 39  LAst              1315 non-null   float64
 40  LTO               1315 non-null   float64
 41  LStl              1315 non-null   float64
 42  LBlk              1315 non-null   float64
 43  LPF               1315 non-null   float64
dtypes: float64(37), object(7)
memory usage: 4.4+ MB

In [14]:

print("\nCombined Women's Tournament Data:")
women_tourney_df.head()

Combined Women's Tournament Data:

,Season,Slot,StrongSeed,WeakSeed,Seed,TeamID,DayNum,WTeamID,WScore,LTeamID,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,1998,R1W1,W01,W16,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1998,R1W2,W02,W15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998,R1W3,W03,W14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1998,R1W4,W04,W13,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1998,R1W5,W05,W12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import os
import pandas as pd
from tqdm import tqdm

directory_path = '/kaggle/input/march-machine-learning-mania-2024'
common_columns = ['TeamID']
no_tourney_seeds = '2024_tourney_seeds.csv'
MMasseyOrdinals = 'MMasseyOrdinals.csv'
WTeams= 'WTeams.csv'
WTeamSpellings='WTeamSpellings.csv'
MTeams= 'MTeams.csv'



MSecondaryTourneyTeams= 'MSecondaryTourneyTeams.csv'



men_tourney_file = 'MNCAATourneyCompactResults.csv'
women_tourney_file = 'WNCAATourneyCompactResults.csv'

# Read the CSV files into DataFrames
no_tourney_seeds = pd.read_csv(os.path.join(directory_path, no_tourney_seeds))
MMasseyOrdinals = pd.read_csv(os.path.join(directory_path, MMasseyOrdinals))
men_tourney_df = pd.read_csv(os.path.join(directory_path, men_tourney_file))
women_tourney_df = pd.read_csv(os.path.join(directory_path, women_tourney_file))

# Merge the regular season and tournament DataFrames for men and women separately
merged_men_regular_season_tourney = pd.concat([no_tourney_seeds, MMasseyOrdinals], ignore_index=True)
merged_women_regular_season_tourney = pd.concat([women_regular_season_df, women_tourney_df], ignore_index=True)

print("Merged Men's Regular Season and Tournament DataFrame:")
merged_men_regular_season_tourney.head()

print("\nMerged Women's Regular Season and Tournament DataFrame:")
merged_women_regular_season_tourney.head()